html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
 
.cf:after {
    clear: both;
}
 
.cf {
    *zoom: 1;
}

header {
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

header h1 {
    display: block;
    position: absolute;
    font-size: 40px;
    font-weight: 700;
    color: white;
    padding: 20px;
    margin-left: 50px;
}

header #menu ul {
    justify-content: center;
    display: flex;
    margin: 0 50px;
}

header #menu ul li {
    display: inline-block;
    padding: 30px 15px;
    box-sizing: border-box;
}

header #menu ul li a {
    padding-bottom: 10px;
    font-size: 19px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

header #menu ul li a:hover {
    border-bottom: 4px solid white;
}

header #user-menu ul {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 50px;
}

header #user-menu ul li {
    display: inline-block;
    padding: 30px 15px;
    box-sizing: border-box;
}

header #user-menu ul li a {
    padding-bottom: 10px;
    font-size: 19px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

header #user-menu ul li a:hover {
    border-bottom: 4px solid white;
}

header #user-menu ul li a#register {
    background-color: #00BFB0;
    padding: 10px 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

header #user-menu ul li a#register:hover {
    background-color: #008A98;
    border-style: none;
}

main #videotron {
    width: 100%;
    position: relative;
}

main #videotron .tagline {
    width: fit-content;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
}

main #videotron .tagline h1{
    font-size: 50px;
    font-weight: 700;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-shadow: 3px 2px 20px #141E12;
}

main #videotron .tagline h2{
    font-size: 30px;
    font-weight: 500;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-shadow: 2px 2px 10px #141E12;
}

main #videotron .tagline button{
    background-color: #00BFB0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
    box-sizing: border-box;
    border-style: none;
    border-radius: 5px;
    margin-top: 10px;
}

main #videotron .tagline button:hover{
    background-color: #008A98;
    cursor: pointer;
}

#our-services {
    /* background-color: khaki; */
    padding: 120px 50px;
    box-sizing: border-box;
}

#our-services h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.services-item {
    margin: 0 20px;
    position: relative;
    opacity: 0.8;
}

.services-item:hover {
    cursor: pointer;
    opacity: 1;
}

.services-item img {
    width: 100%;
    border-radius: 50px 0 50px 0;
}

.services-item .services-content {
    border-radius: 0 0 50px 0;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 3px;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
}

.services-item .services-content h2 {
    font-size: 2.2em;
    margin-bottom: 10px;
}

.services-item .services-content p {
    font-size: 1.2em;
    margin-bottom: 10px;
    line-height: 25px;
}

#about-us {
    padding: 120px 0;
}

#about-img {
    width: 50%;
}

#about-content {
    padding: 50px;
    background-color: khaki;
    box-sizing: border-box;
    float: right;
    width: 50%;
    height: 100%;
}

main #login-img {
    width: 50%;
    height: 100vh;
    background-image: url(/images/login-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}

main #login-img a{
    text-decoration: none;
}

main #login-img h1{
    font-size: 40px;
    font-weight: 700;
    margin: 30px;
    color: #fff;
    text-shadow: 1px 1px 4px #3b48569c;
    /* background-color: black; */
}

main #login-form {
    width: 50%;
    height: 100vh;
    float: right;
    padding: 100px 50px 0 50px;
    box-sizing: border-box;
}

main #login-form h1{
    font-size: 40px;
    font-weight: 700;
    color: #3d4046;
    margin-bottom: 30px;
}

main #login-form p, main #register-form p {
    font-size: 18px;
    font-weight: 500;
    color: #3d4046;

}

main #login-form .field, main #register-form .field {
    padding: 10px 0;
}

main #login-form .field label, main #login-form .field input, main #register-form .field label,  main #register-form .field input{
    display: block;
}

main #login-form label, main #register-form label{
    font-size: 18px;
    font-weight: 500;
    color: #3d4046;
    padding: 10px 0;
    font-size: 20px;
}

main #login-form .field input, main #register-form .field input {
    width: 100%;
    height: 50px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(121, 123, 124, 0.2);
    text-indent: 15px;
    border-radius: 5px;
}

/* main #register-form .field input {
    height: 40px;
} */

main #login-form .field input:hover {
    outline: none;
}

main #login-form button, main #register-form button {
    margin-top: 30px;
    width: 100%;
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    background-color: #00BFB0;
}

main #login-form button:hover, main #register-form button:hover {
    background-color: #008A98;
    cursor: pointer;
}

main #login-form .field-check {
    padding: 10px 0;
}

main #login-form .field-check a {
    font-size: 18px;
    float: right;
    /* text-decoration: none; */
    color: #006FF2;
}

main #login-form #register-link, main #register-form #login-link {
    margin-top: 50px;
    text-align: center;
}

main #login-form #register-link a, main #register-form #login-link a {
    font-size: 18px;
    color: #006FF2;
}

main #register-img {
    width: 50%;
    height: 100vh;
    background-image: url(/images/register-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50vh;
    float: right;
}

main #register-img h1, main #login-img h2 {
    font-size: 90px;
    font-weight: 700;
    color: #fff;
    margin: 150px 50px 0 50px;
    line-height: 100px;
    text-shadow: 1px 1px 4px #3b48569c;
}

main #login-img h2 {
    margin-top: 100px;
    font-size: 80px;
}

main #register-img p, main #login-img p {
    margin: 40px 0 0 50px;
    font-size: 30px;
    text-transform: capitalize;
    color: #fff;
    text-shadow: 1px 1px 4px #3b48569c;
}

main #login-img p {
    /* background-color: black; */
    margin-right: 50px;
    line-height: 40px;
}

main #register-form {
    width: 50%;
    height: 100vh;
    float: left;
    padding: 50px 50px 0 50px;
    box-sizing: border-box;
    /* background-color: lavender; */
}

main #register-form h1{
    font-size: 40px;
    font-weight: 700;
    margin: 30px;
    color: #141E12;
    text-shadow: 1px 1px 4px #5d5e5f9c;
    display: none;
}

/* main #register-img span{
    background-color: rgba(0, 0, 0, 0.5);
} */

main #register-form h2{
    font-size: 40px;
    font-weight: 700;
    color: #3d4046;
    margin-bottom: 30px;
}